{% extends 'base.html' %}
  {% block title %}
    About
  {% endblock %}
  {% block content %}
    <p style="padding: 5%;">
       Aplikacja stworzona do nauki języków, ale również do innych dziedzin.
       Aplikacja będzie posiadała możliwość tworzenia użytkowników, rejestrowania wyników,
       dodawania pytań itp.

       Aplikacja będzie wykorzystywać bazę danych Postgres jak i serwis Heroku do hostowania
       aplikacji.

       Tworzę tą aplikację, ponieważ potrzebuję serwisu, który będzie odpowiadał moim potrzebą, a więc
       pozwoli na mobilność, jaki i prostotę w obsłudze aplikacji.
    </p>
  {% endblock %}
