{% extends 'base.html' %}
{% block title%}
Home page
{% endblock %}
  {% block content %}
  <h1 style="text-align:center; padding-top: 3%;">MyQuizHub</h1>
  <div class="col-md-12 text-center " style=" padding-top: 3%">
    <div class="btn-group-vertical gap-5" style=" padding-top: 3%">
      <button type="button" class="btn btn-success"><a href="{% url 'quiz_menu'%}">Explore</a></button>
      <button type="button" class="btn btn-success"><a href="{% url 'add_category'%}">Add quiz</a></button>
      <button type="button" class="btn btn-success">Log in</button>
      <button type="button" class="btn btn-danger">Log out</button>
    </div>

</div>
  
{% endblock %}
