{% extends 'base.html' %}

  {% block content %}
  <br>
  <form method="POST" action="{% url 'search_categories' %}">
    {% csrf_token %}
    <div class="input-group">
      <input name ="searched" type="search" class="form-control rounded" placeholder="Search categories" aria-label="Search" aria-describedby="search-addon" />
      <button type="submit" class="btn btn-secondary">Search</button>
    </div>
  </form>
  <br>
  <h2>Newest categories:</h2>
  <ul>
    {% for category in newest %}
        <a href="{% url 'display_category'%}?category_id={{category.category_id}}">
          <li>
            {{ category.name }}
          </li>
        </a>
    {% endfor %}
  </ul>
  <h2>Most popular categories:</h2>
  <ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
  </ul>
  {% endblock %}
